.suspicious_company
  span.company_name= suspicious_company.company.name
  span.company_cnpj= suspicious_company.company.cnpj
  span.total_refunds= number_to_currency suspicious_company.total_refunds
