body.deputies.index
  .deputy
    +grid-column(12)
    margin-bottom: 2em
    .nickname
      +grid-column(3)
    .most_suspicious_companies
      +grid-column(9)
    .suspicious_company
      margin-bottom: 1em
      background: lightgray
      span
        display: inline-block
      span.company_name
        width: 50%
      span.company_cnpj, span.total_refunds
        width: 25%

@media screen and (max-width: $small-screen)
  body.deputies.index
    .deputy
      .nickname, .most_suspicious_companies
        +grid-column(12)
      .suspicious_company
        span.company_cnpj
          display: none
        span.company_name
          width: 70%
        span.total_refunds
          width: 30%
